---
import ArrowUp from "@assets/images/arrow-up.png";
import Image from "astro/components/Image.astro";
---

<style>
    .scrollTop-container {
        width: 3.5rem;
        position: fixed;
        bottom: 2rem;
        right: 0.8rem;
        z-index: 2000;

        /* button { */
        img {
            filter: drop-shadow(0 0 0.6rem var(--color-senary));
            transform: rotateZ(90deg);
        }
        /* } */

        @media (min-width: 768px) {
            width: 4.5rem;
            right: 2rem;
        }
    }

    .hide-scroll {
        display: none;
    }
    .show-scroll {
        display: block;
    }
</style>

<button id="scrollTopButton" class={`hide-scroll scrollTop-container`}>
    <Image src={ArrowUp} alt="Scroll to top" title="Scroll to top" />
</button>

<script>
    const scrollToTopButton = document.getElementById("scrollTopButton");

    window.addEventListener("scroll", () => {
        if (
            document.body.scrollTop > 100 ||
            document.documentElement.scrollTop > 100
        ) {
            console.log(document.body.scrollTop);
            scrollToTopButton?.classList?.add("show-scroll");
        } else {
            scrollToTopButton?.classList?.remove("show-scroll");
        }
    });

    scrollToTopButton.addEventListener("click", () => {
        window.scrollTo({
            top: 0,
            behavior: "smooth",
        });
    });
</script>
