/* ------------------------------------------ HERO SECTION ------------------------------------------ */

.hero {
    min-height: 100vh;
    display: flex;
    padding: var(--padding-85);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;
    background: url('/images/pattern-hero.png') center/cover;
    font-family: var(--font-bevan-regular);


    @media (min-width: 768px) {
        padding: var(--padding-80);
        background: url('/images/pattern-hero-big.png') center/cover;
    }



}

.hero-title {

    text-align: center;
    font-size: 4rem;
    color: var(--color-senary);

    @media (min-width: 640px) {
        font-size: 4.5rem;
    }

    @media (min-width: 1360px) {
        width: 80%;
    }
}

.hero-description {
    text-align: center;
    letter-spacing: .2rem;
    color: var(--color-quinary);

    h3 {
        font-size: 2.2rem;
    }

    p {
        margin-top: 3rem;
        font-size: 1.6rem;
        line-height: 3.5rem;
    }

    @media (min-width: 1360px) {
        width: 50%;
    }


}

.contact-btn {
    border: .2rem solid var(--color-senary);
    color: var(--color-senary);
    box-shadow: 0 0 0.8rem 0 var(--color-senary);
}

.modal-contact {
    height: auto !important;
}

.modal-contact-title {
    color: var(--color-primrary);
}

.modal-contact-form {}

.modal-contact-hero {
    font-family: var(--font-inika-regular);
    text-align: center;
    margin-bottom: 2rem;
    font-style: italic;
}

.form-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    font-family: var(--font-inika-bold) !important;


    label {
        margin-bottom: .5rem;
        font-size: 1.4rem;
    }

    input,
    textarea {
        width: 80%;
        margin: auto;
        border: .2rem solid var(--color-quinary);
        box-shadow: 0 0 .4rem 0 var(--color-tertiary);
        border-radius: .5rem;
        padding: .8rem;
        resize: none;
        font-size: 1.6rem;
        transition: all .4s ease-in-out;

        &:focus,
        &:hover {
            outline: none;
            border-color: var(--color-secondary);
        }
    }

    textarea {
        height: 10rem;
    }

}

.error-input {
    width: 80%;
    color: #d81111;
    font-size: 1.3rem;
    text-align: end;
    margin: .5rem auto 0 auto;
}

.form-submit {
    background-color: var(--color-quaternary);
    color: var(--color-white-full);
    text-align: center;
    margin: 1.4rem auto 0 auto;
}





/* ------------------------------------------ BRAND SECTION ------------------------------------------*/
.brand-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 50rem;
    background-color: var(--color-octonary);
}

.brand-content {
    width: 80%;
    min-height: 10rem;
    margin: auto;



    @media(min-width: 1024px) {
        width: 60%;
    }

    @media(min-width: 1280px) {
        width: 50%;
    }
}

.brand-text {
    font-family: var(--font-bevan-regular);
    text-align: center;

    p {
        font-size: 1.8rem;
        margin-top: 5rem;
        color: var(--color-quinary);
    }

    h4 {
        font-size: 2.4rem;
        color: var(--color-senary);
        margin-top: 2rem;
    }
}

.swiper-tools {
    width: 100%;
    height: 12rem;

}


.card-tools {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 9rem;
    min-height: 10rem;
    text-align: center;

    &:hover {

        p {
            transition: all .4s ease-in-out;
            color: var(--color-senary);

        }
    }

    img {
        width: 6rem;
        height: 6rem;
        object-fit: contain;
    }

    p {
        margin-top: 0.5rem;
        font-size: 1.2rem;
        font-family: var(--font-inika-bold);
        color: var(--color-octonary);
    }
}





/* ------------------------------------------ SERVICES SECTION ------------------------------------------*/
.services-container {
    width: 100%;
    min-height: 100vh;
    background-color: var(--color-secondary);
    padding: var(--padding-80);
}

.services-title {
    font-family: var(--font-bevan-regular);
    margin: 10rem 0 5rem 0 !important;
    color: var(--color-senary);
    /* font-size: 2.5rem !important; */
}

.card-services {
    min-height: 40rem;
    max-width: 125rem;
    margin: 0 auto 4rem auto;
    display: flex;
    flex-direction: column;
    border-radius: .8rem;
    padding: 4rem;

    @media (min-width: 768px) {
        flex-direction: row;
        max-height: 55rem;
    }
}

.card-wave-one {
    background: var(--color-tertiary) url('../../assets/images/wabe-3.svg') center/cover;
    color: var(--color-quinary);
}

.card-wave-two {
    background: var(--color-quinary) url('../../assets/images/wave.svg') center/cover;
    color: var(--color-tertiary);
}

.card-wave-three {
    background: var(--color-primary) url('../../assets/images/wave-2.svg') center/cover;
    color: var(--color-quinary);
}


.card-text {
    width: 100%;
    text-align: center;
    font-weight: 700;

    @media (min-width: 768px) {
        text-align: initial;
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    @media (min-width:1024px) {
        width: 50%;
    }
}

.card-text__title {
    font-family: var(--font-bevan-regular);
    font-size: 2.8rem;
    padding-bottom: 1rem;
    border-bottom: solid .5rem var(--color-senary);
    width: fit-content;
    margin: 0 auto 3rem auto;

}

.card-text__subtitle {
    font-size: 2.2rem;
    margin-bottom: 1.5rem;

    @media (min-width: 768px) {
        text-align: start;
    }
}

.card-text__desc {
    line-height: 2rem;
    font-size: 1.4rem;

    @media (min-width: 768px) {
        text-align: start;
    }
}


.card-image {
    margin: 3rem auto 0 auto;

    width: 80%;

    @media (min-width:768px) {
        width: 40%;
    }

    /* @media (min-width:1024px) {
        width: 50%;
    } */

}







/* ------------------------------------------ BANNER SECTION ------------------------------------------*/
.banner-container {
    background: url('../../assets/images/ajedrezsvg.svg') center/cover no-repeat;
    background-attachment: fixed;
    width: 100%;
    height: 40rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    color: var(--color-senary);
    font-family: var(--font-bevan-regular);
    text-align: center;

    p {
        font-family: var(--font-inika-bold);
        width: 60%;
        color: var(--color-white-full);
        font-size: 2rem;
    }

}



/* ------------------------------------------ PROCESS SECTION ------------------------------------------*/
.process-container {
    width: 100%;
    min-height: 100vh;

}

.process__step {
    width: 100%;
    min-height: 30rem;
    padding: 4rem calc((100vw - 80vw) /2);

    h3 {
        font-family: var(--font-bevan-regular);
        font-weight: 700;
        margin-bottom: 3rem;
    }

    &:nth-child(odd) {
        background-color: var(--color-quinary) !important;
        color: var(--color-secondary);

        @media (min-width: 890px) {}
    }

    &:nth-child(even) {
        background-color: var(--color-primary) !important;
        color: var(--color-quinary);
        flex-direction: row-reverse;
        text-shadow: 0px 2px 0rem rgba(0, 0, 0);
    }

    &:nth-last-child(1) {
        background-color: var(--color-senary) !important;
        color: var(--color-secondary);
    }


    @media (min-width: 890px) {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

}

.process__step--img-container {
    width: 100%;
    text-align: center;

    div {
        width: 40%;
        margin: auto;
    }

    @media (min-width: 890px) {
        width: 50%;
        max-width: 70rem;

    }
}

.process__step--text {
    text-align: center;
    margin-top: 3rem;
    text-shadow: 0 0 .4rem rgba(0, 0, 0, 0.3);

    h4 {
        font-family: var(--font-bevan-regular);
        font-weight: 700;
    }

    ul {
        margin-top: 3rem;
        text-align: left;

        @media (min-width: 1024px) {
            padding-left: 10%;
        }
    }

    li {
        margin-top: 1.4rem;
    }

    li>p {
        font-weight: 700;

        span {
            font-weight: 600;
        }
    }

    @media (min-width: 890px) {
        width: 50%;
        max-width: 70rem;
    }
}



/* ------------------------------------------ BLOG SECTION ------------------------------------------*/

.blog-container {
    min-height: 60rem;
    /* width: 100%; */
    padding: var(--padding-80);
    background-color: var(--color-octonary);

    h2 {

        font-family: var(--font-bevan-regular);
        color: var(--color-senary);
        text-align: center;
        /* font-size: 2.5rem; */
        padding: 7rem 0;
    }
}

.swiper-blog {
    width: auto;
    min-height: 30rem;
    padding-bottom: 4rem !important;
    padding-top: 4rem !important;

    @media (min-width: 1024px) {
        max-width: 100rem;
        margin: auto;
    }
}