---
import Layout from "../layouts/Layout.astro";
---

<Layout title="test" description="test description">
	<div class="bg-indigo-500 py-[10px]">
		<p>Plantilla astro</p>
		<p>
			todo ok... si ves el fondo color azul, tailwind está ok también...
		</p>
	</div>
</Layout>
