.g-button-rounded {
    padding: 1.2rem 2rem;
    border-radius: 4.5rem;
    font-size: 1.6rem;

    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.g-button-rounded-min {

    padding: .5rem 1.2rem;
    border-radius: 3rem;
    font-size: 1.4rem;

    transition: transform 0.3s ease-in-out;

    &:hover {
        transform: scale(1.05);
    }
}

.g-page-main {

    min-height: 100vh;
    margin-top: 8rem;

    @media (min-width: 768px) {
        margin-top: 7rem;
    }
}

.g-page-hero {
    background-color: var(--color-quinary);
    color: var(--color-secondary);
    padding: 3rem 0;

    h2 {
        text-align: center;
        font-family: var(--font-bevan-regular);

    }

}

.g-show-senary {
    color: var(--color-senary);
    font-weight: 700;
}

g-page-content {
    padding: var(--padding-80);
}