---
import HeaderNavMobile from "@components/headerNav/HeaderNavMobile.astro";
import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";

import css from "@styles/layout/layout.module.css";
import HeaderNavDesktop from "@components/headerNav/HeaderNavDesktop.astro";
import ScrollTopTopButton from "@components/shared/scrollTopTopButton/ScrollTopTopButton.astro";

const {
	title = "",
	description = "",
	image = "/images/portada.png",
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body>
		<HeaderNavMobile />
		<HeaderNavDesktop />
		<slot />
		<ScrollTopTopButton />
	</body><Footer />
</html>

<script>
	import AOS from "aos";
	import "aos/dist/aos.css";
	AOS.init();
</script>
