---
import HeaderNavMobile from "@components/headerNav/HeaderNavMobile.astro";
import BaseHead from "@components/BaseHead.astro";

import css from "@styles/layout/layout.module.css";
import HeaderNavDesktop from "@components/headerNav/HeaderNavDesktop.astro";

const {
	title = "",
	description = "",
	image = "/images/portada.png",
} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} image={image} />
	</head>
	<body>
		<HeaderNavMobile />
		<HeaderNavDesktop />
		<slot />
	</body>
</html>
